.buy-container {
 
  color: #d755ff;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.buy-container.buy-has-items {
  background-color: #ffffff;
  width: 70%;
  margin: 10px auto; /* Corrected margin */
}


.buy-container.buy-empty {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.buy-item {
  display: flex;
  margin-bottom: 20px;
}

.buy-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin: 20px;
}

.buy-details-container {
  margin: 20px;
  flex: 1;
}
.buy-remove-button {
  
  background-color: #ff5555; /* Red */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.buy-remove-button:hover {
  background-color: #ff0000; /* Darker Red */
}

.buy-proceed-button {
  margin: 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.buy-proceed-button:hover {
  background-color: #45a049; /* Darker Green */
}

.buy-clear-button {
  background-color: #4286f4; /* Blue */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.buy-clear-button:hover {
  background-color: #1e65ff; /* Darker Blue */
}

.go-to-buy-button {
  background-color: #ffab40; /* Orange */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.go-to-buy-button:hover {
  background-color: #ff8f00; /* Darker Orange */
}

.buy-title {
  margin: 20px;
  font-weight: bold;
}

.buy-discount-message {
  margin: 20px;
  color: #ff0000;
  font-style: italic;
}

.empty-buy-message {
  text-align: center;
}

.buy-p {
  margin: 5px 0;
}

/* Add more CSS as needed for animations, 3D effects, etc. */
