.cart {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  color: rgb(164, 30, 176);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-index {
  margin-right: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-title {
  font-weight: bold;
}

.cart-item-price {
  margin-left: 10px;
}

.remove-button,
.update-quantity-button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

.remove-button:hover,
.update-quantity-button:hover {
  background-color: #ff0000;
}

.cart-item-quantity {
  margin: 0 10px;
}

.total-price {
  margin-top: 20px;
  font-weight: bold;
}

.discounted-price {
  color: #4CAF50;
}

.discount-info {
  color: #001eff;
  font-size: large;
}

.buy-button-bu{
  font-size: 20PX;

  padding: 5px 10px;
  margin-top: 20px;
  margin:4PX;
  background-color: #a7af4c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.clear-cart-button,
.add-product-button {
  font-size: 20PX;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
  margin:4PX;
  background-color: #4c70af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.buy-button-bu:hover,
.clear-cart-button:hover,
.add-product-button:hover {
  background-color: #45a049;
}
