/* Header Container */
.header-container {
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto; /* Use 100% width */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; /* Center text horizontally */
    padding: 1rem; /* Increase padding for better spacing */
    background: linear-gradient(135deg, #3f88486e, #3d47ba6f, #6e89b5); /* Gradient background */

    border-radius: 10px;
    box-shadow: 10px 12px 15px rgba(26, 181, 15, 0.961); /* Box shadow */
    border: 1px solid transparent; /* Transparent border */
    transition: all 0.3s ease; /* Transition for smooth animation */
}

.logo {
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
}

.logo img {
    width: 80px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Navigation */
.nav {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

.nav-item {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #20da7d; /* Navigation link color */
}

.nav-link:hover {
    text-decoration: none;
    color: #35de17; /* Navigation link color */
}

/* Search Area */
.search-area {
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.search-input {
    align-items: center;
    height: 30px;
    text-align: center;
    width: 250px;
    color: aqua;
    background-color: #cdd7e84d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px; /* Border radius for input */
    border: 1px solid #cccccce1; /* Border color for input */
}

.search-button {
    width: 60px;
    height: 45px;
    font-weight: 700;
    font-size: larger;
    padding: 0.5rem 1rem;
    background-color: #007bff; /* Button background color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Border radius for button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for button */
    transition: background-color 0.3s ease; /* Transition for smooth animation */
}

/* Hover effect for button */
.search-button:hover {
    background-color: #b39800; /* Darker background color on hover */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding: 0.5rem;
    }

    .logo img {
        width: 170px;
        margin: 0;
        height: 70px;
        padding: 0;
    }

    .nav-item {
        font-size: 40px;
        margin-right: 40px;
    }
.search-area{
    text-align: center;
}
    .search-input {
        width: 200px;
    }
}
