.please-wait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.please-wait p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  animation: fly 2s linear infinite; /* Apply the flying animation */
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move text up */
  }
  100% {
    transform: translateY(0); /* Return text to original position */
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .please-wait p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media only screen and (max-width: 576px) {
  .please-wait p {
    font-size: 0.8rem; /* Further adjust font size for even smaller screens */
  }
<<<<<<< HEAD:src/Styles/Pleasewait.css
}
=======
  
>>>>>>> 2b7172dd017fd7cb10e84c694de2ce404f37f63d:src/Styles/pleasewait.css
