/* SearchItem.css */

/* Container for search items */
.search-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  width: 90%;
  margin: 0 auto;
  
}

/* Individual search item */
.search-item {
  height: 500px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect on search item */
.search-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* Search item title */
.search-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #343a40;
}

/* Search item image */
.search-image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

/* Search item description */
.search-description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}


/* Search item price */
.search-price {
  font-size: 16px;
  font-weight: bold;
  color: #198754;
}

/* Buy and add-to-cart buttons */
.buy-button,
.add-to-cart-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect on buttons */
.buy-button:hover,
.add-to-cart-button:hover {
  background-color: #0b5ed7;
}
