@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.search-products {
  color: #e611d4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-item {
  background-color: white;
  width: 45%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #427fa2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Original box-shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Updated box-shadow for slight 2D effect */
}



.search-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-image {
  width: 100%;
  
  height: 200px;
  margin-bottom: 10px;
}
.search-description {
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-price,
.search-category,
.search-rating {
  font-size: 14px; /* Set a common font size for all text except title */
  margin-bottom: 5px;
}

.search-description {
  font-size: 12px; /* Reduced font size for description */
}

.buy-button,
.add-to-cart-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover,
.add-to-cart-button:hover {
  background-color: #0056b3;
}
